* {
    font-family: "Calisto MT", "Bookman Old Style", Bookman, "Goudy Old Style", Garamond, "Hoefler Text", "Bitstream Charter", Georgia, serif;
}

h1,
h3 {
    text-align: center;
    margin-left: 40%;
    margin-right: 40%;
}

body {
    background-image: linear-gradient(#53B5D2, #223057, #0E1116);
}

nav {
    text-align: center;
}

p.weaponDesc {
    font-weight: bold;
    font-size: larger;
}

div.gallery {
    margin: 3px;
    float: left;
    width: 32%;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.loady {
    margin: 3px;
    float: left;
    width: 80%;
}

div.loady img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 5px;
    text-align: center;
    font-weight: bold;
}

.flex-container-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.flex-container-row iframe {
    border: none;
    padding: 2px;
}

.flex-container-reverse {
    display: flex;
    flex-flow: row-reverse wrap;
    justify-content: center;
}

.flex-container-reverse iframe {
    border: none;
    padding: 2px;
}

.float-container {
    display: flex;
}

.float-child {
    border: none;
}

.float-child:first-child {
    margin-right:20px;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.left10 {
    margin-left: 10%;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    height: 0;
}

.videoWrapper iframe {
    border: none;
    display: block;
    margin: 0 auto;
}

.rounded {
    background-color: #add8e680;
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
}

.big {
    margin-right: 33%;
    margin-left: 33%;
}

.mediumBig {
    margin-right: 38%;
    margin-left: 38%;
}

.mid {
    margin-right: 43%;
    margin-left: 43%;
}

.small {
    margin-right: 45%;
    margin-left: 45%;
}

.descrounded {
    background-color: #add8e680;
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
}

.weaponDesc {
    background-color: #add8e680;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    padding-left: 4px;
    padding-right: 4px;
    margin-left: 10%;
    width: 20%;
    text-align: center;
}

.rotateMin {
    transform: rotate(-35deg);
}

#intro {
    background-color: #add8e680;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    padding-left: 4px;
    padding-right: 4px;
    margin-left: 10%;
    width: 20%;
    display: inline-block;
    text-align: center;
}

#banner {
    background-image: url("Images/MurphyBanner_resized.png"), linear-gradient(#53B5D2, #223057, #0E1116);
    width: 100%;
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0 auto;
    padding: 0;
    border: 0;
}

#twitter {
    position: fixed;
    bottom: 0;
    right: 0;
}

#Wednesday {
    width: 160px;
    text-align: center;
    margin-left: 80%;
    transform: rotate(-35deg);
    color: rgb(197, 44, 85);
}