* {
    font-family: "Calisto MT", "Bookman Old Style", Bookman, "Goudy Old Style", Garamond, "Hoefler Text", "Bitstream Charter", Georgia, serif;
}

h1, h3 {
    text-align: center;
    margin-left: 40%;
    margin-right: 40%;
}

body {
    background-image: linear-gradient(#53B5D2, #223057, #0E1116);
}

nav {
    text-align: center;
}

div.gallery {
    margin: 3px;
    float: left;
    width: 32%;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.loady {
    margin: 3px;
    float: left;
    width: 80%;
}

div.loady img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 5px;
    text-align: center;
    font-weight: bold;
}

.flex-container-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.flex-container-reverse {
    display: flex;
    flex-flow: row-reverse wrap;
    justify-content: center;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.left10 {
    margin-left: 10%;
}

.rounded {
    background-color: #add8e680;
    border-style: hidden;
    border-radius: 20px;
}

.big {
    margin-right: 33%;
    margin-left: 33%;
}

.mid {
    margin-right: 43%;
    margin-left: 43%;
}

.small {
    margin-right: 45%;
    margin-left: 45%;
}

.descrounded {
    background-color: #add8e680;
    border-style: hidden;
    border-radius: 20px;
}

#intro {
    background-color: #add8e680;
    border-style: hidden;
    border-radius: 5px;
    padding-left: 4px;
    padding-right: 4px;
    margin-left: 10%;
    width: 20%;
    display: inline-block;
    text-align: center;
}

#banner {
    background-image: url("Images/MurphyBanner_resized.png"), linear-gradient(#53B5D2, #223057, #0E1116);
    width: 100%;
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0 auto;
    padding: 0;
    border: 0;
}

#twitter {
    position: fixed;
    bottom: 0;
    right: 0;
}

