* {
    font-family: "Calisto MT", "Bookman Old Style", Bookman, "Goudy Old Style", Garamond, "Hoefler Text", "Bitstream Charter", Georgia, serif;
}

h1 {
    text-align: center;
}

body {
    /*background-color: #223057; */
    background-image: linear-gradient(#53B5D2, #223057, #0E1116);
}

nav {
    text-align: center;
}

div.gallery {
    margin: 3px;
    float: left;
    width: 32%;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.striker {
    margin: 3px;
    float: left;
    width: 80%;
}

div.striker img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 5px;
    text-align: center;
    font-weight: bold;
}

.flex-container-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.flex-container-reverse {
    display: flex;
    flex-flow: row-reverse wrap;
    justify-content: center;
}

.light {
    color: #AE76FF;
}

.normal {
    color: #79639E;
}

.dark {
    color: #422173;
}